body {
  margin: 0;
  padding: 0;
  display: grid;
  background-color: rgb(190, 189, 189);
}

/* Navigaatiopalkin tausta */
.topnav {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(155, 155, 155);
  text-align: center;
  column-gap: 30px;
  justify-content: center;
}

/* Navigaatipalkin tekstit */
.topnav a {
  text-align: center;
  font-size: 125%;
  font-family: "Playfair Display";
  color: rgb(0, 0, 0);
}

/* Navigaation linkkien väri (musta) */
a:link {
  color: black;
}

/* Navigaation linkkien väri, kun linkillä on vierailtu (musta) */
a:visited {
  color: black;
}

/* Koko sivuston otsikko/logo/oma nimeni */
h1 {
  margin-top: 30px;
  margin-bottom: 0%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Parisienne";
  font-size: 450%;
}

/* Vierailtavan sivun otsikko */
h2 {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 150%;
}

/* Sisältöteksti */
p {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Playfair Display";
}

/* Kappaleiden välissä olevat väliviivat */
.viiva {
border-bottom: 1px solid black;
width: 150px;
margin: auto;
}

/* Index -sivun koko sisältö (tekstit + kuva) */
.sisältö {
 display: flex;
 justify-content: center;
 column-gap: 25px;
}

/* Index -sivun teksti */
.sisältö2 {
  display: grid;
  align-items: center;
}

/* Index -sivun kuva (omakuva) */
.omakuva {
  display: flex;
  justify-content: center;
  height: auto;
}

/* Työkokemus välilehden koko sisältö (kuvat + tekstit) */
.työsisältö {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  column-gap: 45px;
}

/* Työkokemus välilehden kuva minusta */
.työkuva {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 70%;
  margin-top: 150px;
}

/* Työkokemus välilehden sisältöteksti */
.work {
  display: grid;
  align-items: center;
}

/* Koulutus -välilehden koko sisältö (kuvat + tekstit) */
.koulut {
  display: grid;
  align-items: center;
  justify-content: center;
  row-gap: 45px;
}

/* Koulutus -välilehden flex-box / kuva ja teksti vierekkäin */
.column {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 45px;
}

/* Koulutus -välilehdellä oma ottama kuva Haaga-Heliasta */
.koulukuva {
  display: block;
  max-width: 100%; 
  justify-content: center;
}

/* Kartta -elementin flex-box / column flex-boxin alapuolelle */
.maps {
  display: flex;
  flex-direction: row;
  max-width: 100%; 
  justify-content: center;
}

/* Taidot -välilehden koko sisältö (kuvat + tekstit) */
.taitoni {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: center;
  column-gap: 45px;
}

/* Taidot -välilehdellä olevat kuvat */
.taitokuva {
  display: grid;
  flex-direction: row;
  max-width: 100%; 
  justify-content: center;
  row-gap: 30px;
}

/* Taidot -välilehden teksti */
.taitoteksti  {
  display: grid;
  align-items: center;
}

/* Uudet komennot/asetelmat pienemmälle näytölle */
@media screen and (max-width: 600px){

  .topnav {
  display: grid;
  row-gap: 10px;
  }

  .sisältö {
  display: grid;
  align-items: center;
  justify-content: center;
  }

  .työsisältö {
  flex-direction: column;
  display: grid;
  align-items: center;
  justify-content: center;
  }

  .työkuva {
  margin-top: 0;
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  }

  .taitoni {
  flex-direction: column;
  display: grid;
  align-items: center;
  justify-content: center;
  }

  .koulut {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .column {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .maps {
    width: 300px;
  }

}


