body {
  margin: 0;
  padding: 0;
  background-color: rgb(190, 189, 189);
  
}

@media only screen and (max-width:420px){
img {
  display: none;
}
}


h1 {
  margin: top 30px;
  margin-bottom: 0%;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Parisienne";
  font-size: 450%;
}
h2 {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 150%;
}
p  {
  text-align: center;
  font-size: 125%;
  font-family: "Playfair Display";
  color: rgb(0, 0, 0);
  background-color: rgb(155, 155, 155);
  padding: 10px;
  width: 100%;
}


a:link {
  color: black;
  margin-left: 40px;
}

a:visited {
  color: black;
}

pre {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Playfair Display";
}
img {
  display: block;
  width: 50%;  
  float: left
}
.sisältö {
  display: flex;
  align-items: center;
  justify-content: center;
}